<a href="https://colab.research.google.com/github/sangjinsu/personalized-recommendation-system/blob/main/OT_%EC%99%80_%EA%B8%B0%EB%B3%B8%EC%A0%81%EC%9D%B8_%EC%B6%94%EC%B2%9C_%EC%8B%9C%EC%8A%A4%ED%85%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 추천 시스템 소개 

## 협업 필터링

- 구매 및 소비한 제품에 대한 소비자 평가 패턴이 비슷한 집단에서 서로 접하지 않은 제품 추천
- 한계점 - 소비자 평가 정보 얻기 힘듬
- 해결책 - 사용자 로그를 사용 (머문 시간, 클릭 횟수 등)

## 내용 기반 필터링

- 제품의 내용을 분석해서 추천하는 기술
- 소비자에게 뉴스나 책 추천할 때 사용

## 지식 기반 필터링

- 특정 분야 전문 지식을 구성하여 전체 지식 구조를 활용하는 방법

## 딥러닝

- 이미지, 음성 학습 가능

## 하이브리드 필터링 (협업 필터링 & 딥러닝)

- 두 가지 이상의 알고리즘을 혼합하여 사용



## 사례 예시

## 기본적인 추천 시스템

In [7]:
import os
import pandas as pd

base_src = 'drive/MyDrive/recommend'
u_user_src = os.path.join(base_src, 'u.user')

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(u_user_src,
                    sep = '|',
                    names=u_cols,
                    encoding='latin-1')

users = users.set_index('user_id')
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [8]:
u_item_src = os.path.join(base_src, 'u.item')
i_cols = ['movie_id','title','release date','video release date', 'IMDB URL','unknown','Action','Adventure','Animation',
'Children\'s','Comedy','Crime','Documentary','Drama','Fantasy', 'Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']

movies = pd.read_csv(u_item_src, 
                     sep = '|',
                     names = i_cols,
                     encoding='latin-1')
movies = movies.set_index('movie_id')
movies.head()

                      title release date  ...  War Western
movie_id                                  ...
1          Toy Story (1995)  01-Jan-1995  ...    0       0
2          GoldenEye (1995)  01-Jan-1995  ...    0       0
3         Four Rooms (1995)  01-Jan-1995  ...    0       0
4         Get Shorty (1995)  01-Jan-1995  ...    0       0
5            Copycat (1995)  01-Jan-1995  ...    0       0

[5 rows x 23 columns]

In [9]:
u_data_src = os.path.join(base_src, 'u.data')
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(u_data_src, sep='\t',
                      names=r_cols, encoding='latin-1')
ratings = ratings.set_index('user_id')
ratings.head()

         movie_id  rating  timestamp
user_id
196           242       3  881250949
186           302       3  891717742
22            377       1  878887116
244            51       2  880606923
166           346       1  886397596

In [10]:
# 인기 제품 방식 추천 function
def recom_movie(n_items):
  movie_mean = ratings.groupby(['movie_id'])['rating'].mean()
  movie_sort = movie_mean.sort_values(ascending=False)[:n_items]
  recom_movies = movies.loc[movie_sort.index]
  recommendations = recom_movies['title']
  return recommendations


recom_movie(5)

movie_id
814                         Great Day in Harlem, A (1994)
1599                        Someone Else's America (1995)
1201           Marlene Dietrich: Shadow and Light (1996)
1122                       They Made Me a Criminal (1939)
1653    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object

## 추천 시스템의 정확도 측정

추천 시스템의 성능 = "정확성"

- 훈련 데이터
- 테스트 데이터

In [11]:
# 100k 영화 평점에 대해서 실제값과 best-seller 방식으로 구한 예측값의 RMSE 계산 코드 

import numpy as np

def RMSE(y_true, y_pred):
  return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred)) ** 2))


# 정확도 계산
rmse = []
movie_mean = ratings.groupby(['movie_id'])['rating'].mean()

for user in set(ratings.index):
  y_true = ratings.loc[user]['rating']
  y_pred = movie_mean[ratings.loc[user]['movie_id']]
  accuracy = RMSE(y_true, y_pred)
  rmse.append(accuracy)

print(np.mean(rmse))

0.996007224010567

## 사용자 집단별 추천

In [19]:
import os
import pandas as pd
import numpy as np

base_src = 'drive/MyDrive/recommend'
u_user_src = os.path.join(base_src, 'u.user')

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(u_user_src,
                    sep = '|',
                    names=u_cols,
                    encoding='latin-1')



u_item_src = os.path.join(base_src, 'u.item')
i_cols = ['movie_id','title','release date','video release date', 'IMDB URL','unknown','Action','Adventure','Animation',
'Children\'s','Comedy','Crime','Documentary','Drama','Fantasy', 'Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']
movies = pd.read_csv(u_item_src, 
                     sep = '|',
                     names = i_cols,
                     encoding='latin-1')


u_data_src = os.path.join(base_src, 'u.data')
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(u_data_src, sep='\t',
                      names=r_cols, encoding='latin-1')

# timestamp 제거
ratings = ratings.drop('timestamp', axis=1)
movies = movies[['movie_id', 'title']]

# 데이터 train, test set 분리
from sklearn.model_selection import train_test_split
x = ratings.copy()
y = ratings['user_id']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y)

# RMSE 계산함수
def RMSE(y_true, y_pred):
  return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred)) ** 2))

# 모델별 RMSE 계산 함수
def score(model):
  id_pairs = zip(x_test['user_id'], x_test['movie_id'])
  y_pred = np.array([model(user, movie) for (user, movie) in id_pairs])
  y_true = np.array(x_test['rating'])
  return RMSE(y_true, y_pred)


train_mean = x_train.groupby(['movie_id'])['rating'].mean()
def best_seller(user_id, movie_id):
  try:
    rating = train_mean[movie_id]
  except:
    rating = 3.0
  return rating

score(best_seller)

1.0208808985853992

In [20]:
# 성별에 따른 예측값 계산
merged_ratings = pd.merge(x_train, users)

users = users.set_index('user_id')

g_mean = merged_ratings[['movie_id', 'sex', 'rating']].groupby(['movie_id', 'sex'])['rating'].mean()

#### Gender 기준 추천 ####

rating_matrix = x_train.pivot(index='user_id',
                              columns='movie_id',
                              values='rating')

rating_matrix

movie_id  1     2     3     4     5     ...  1676  1678  1679  1680  1681
user_id                                 ...
1          NaN   3.0   4.0   NaN   3.0  ...   NaN   NaN   NaN   NaN   NaN
2          4.0   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3          NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4          NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
5          4.0   3.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
...        ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
939        NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
940        NaN   NaN   NaN   2.0   NaN  ...   NaN   NaN   NaN   NaN   NaN
941        5.0   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
942        NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
943        NaN   5.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN

[943 rows x 1638 columns]

In [23]:
def cf_gender(user_id, movie_id):
  if movie_id in rating_matrix.columns:
    gender = users.loc[user_id]['sex']
    if gender in g_mean[movie_id].index:
      gender_rating = g_mean[movie_id][gender]
    else:
      gender_rating = 3.0
  else:
    gender_rating = 3.0
  return gender_rating 

score(cf_gender)

1.028994742128088